<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.travel.mapper.ProductBasicMapper">

    <resultMap type="ProductBasic" id="ProductBasicResult">
        <result property="id"    column="id"    />
        <result property="productName"    column="product_name"    />
        <result property="productStatus"    column="product_status"    />
        <result property="productDay"    column="product_day"    />
        <result property="createTime"    column="create_time"    />
        <result property="editTime"    column="edit_time"    />
        <result property="productDesign"    column="product_design"    />
        <result property="productPlan"    column="product_plan"    />
        <result property="birthland"    column="birthland"    />
        <result property="destination"    column="destination"    />
        <result property="priceStart"    column="price_start"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="description"    column="description"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="productDetailAds"    column="product_detail_ads"    />
        <result property="routeNumber"    column="route_number"    />
    </resultMap>

    <sql id="selectProductBasicVo">
        select id, product_name, product_status, product_day, create_time, edit_time, product_design, product_plan, birthland, destination, price_start, order_number, description, img_url, product_detail_ads, route_number from travel_product_basic
    </sql>

    <select id="selectProductBasicList" parameterType="ProductBasic" resultMap="ProductBasicResult">
        <include refid="selectProductBasicVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productStatus != null "> and product_status = #{productStatus}</if>
            <if test="productDay != null "> and product_day = #{productDay}</if>
            <if test="createTime != null "> and to_days(create_time) = to_days(#{createTime})</if>
            <if test="editTime != null "> and to_days(edit_time) = to_days(#{editTime})</if>
            <if test="birthland != null  and birthland != ''"> and birthland like concat('%', #{birthland}, '%')</if>
            <if test="destination != null  and destination != ''"> and destination like concat('%', #{destination}, '%')</if>
            <if test="routeNumber != null "> and route_number = #{routeNumber}</if>
        </where>
        order by id
    </select>

    <select id="selectProductBasicById" parameterType="Long" resultMap="ProductBasicResult">
        <include refid="selectProductBasicVo"/>
        where id = #{id}
    </select>

    <insert id="insertProductBasic" parameterType="ProductBasic" useGeneratedKeys="true" keyProperty="id">
        insert into travel_product_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">product_name,</if>
            <if test="productStatus != null">product_status,</if>
            <if test="productDay != null">product_day,</if>
            <if test="createTime != null">create_time,</if>
            <if test="editTime != null">edit_time,</if>
            <if test="productDesign != null">product_design,</if>
            <if test="productPlan != null">product_plan,</if>
            <if test="birthland != null">birthland,</if>
            <if test="destination != null">destination,</if>
            <if test="priceStart != null">price_start,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="description != null">description,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="productDetailAds != null">product_detail_ads,</if>
            <if test="routeNumber != null">route_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null">#{productName},</if>
            <if test="productStatus != null">#{productStatus},</if>
            <if test="productDay != null">#{productDay},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="productDesign != null">#{productDesign},</if>
            <if test="productPlan != null">#{productPlan},</if>
            <if test="birthland != null">#{birthland},</if>
            <if test="destination != null">#{destination},</if>
            <if test="priceStart != null">#{priceStart},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="description != null">#{description},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="productDetailAds != null">#{productDetailAds},</if>
            <if test="routeNumber != null">#{routeNumber},</if>
         </trim>
    </insert>

    <update id="updateProductBasic" parameterType="ProductBasic">
        update travel_product_basic
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productStatus != null">product_status = #{productStatus},</if>
            <if test="productDay != null">product_day = #{productDay},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="productDesign != null">product_design = #{productDesign},</if>
            <if test="productPlan != null">product_plan = #{productPlan},</if>
            <if test="birthland != null">birthland = #{birthland},</if>
            <if test="destination != null">destination = #{destination},</if>
            <if test="priceStart != null">price_start = #{priceStart},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="description != null">description = #{description},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="productDetailAds != null">product_detail_ads = #{productDetailAds},</if>
            <if test="routeNumber != null">route_number = #{routeNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductBasicById" parameterType="Long">
        delete from travel_product_basic where id = #{id}
    </delete>

    <delete id="deleteProductBasicByIds" parameterType="String">
        delete from travel_product_basic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
