<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.travel.mapper.ProductRouteMapper">
    
    <resultMap type="ProductRoute" id="ProductRouteResult">
        <result property="id"    column="id"    />
        <result property="productId"    column="product_id"    />
        <result property="routeName"    column="route_name"    />
        <result property="price"    column="price"    />
        <result property="transportType"    column="transport_type"    />
        <result property="transportPrice"    column="transport_price"    />
        <result property="hotelType"    column="hotel_type"    />
        <result property="hotelPrice"    column="hotel_price"    />
        <result property="travelType"    column="travel_type"    />
        <result property="travelPrice"    column="travel_price"    />
    </resultMap>

    <sql id="selectProductRouteVo">
        select id, product_id, route_name, price, transport_type, transport_price, hotel_type, hotel_price, travel_type, travel_price from travel_product_route
    </sql>

    <select id="selectProductRouteList" parameterType="ProductRoute" resultMap="ProductRouteResult">
        <include refid="selectProductRouteVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="routeName != null  and routeName != ''"> and route_name like concat('%', #{routeName}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="transportType != null  and transportType != ''"> and transport_type = #{transportType}</if>
            <if test="transportPrice != null "> and transport_price = #{transportPrice}</if>
            <if test="hotelType != null  and hotelType != ''"> and hotel_type = #{hotelType}</if>
            <if test="hotelPrice != null "> and hotel_price = #{hotelPrice}</if>
            <if test="travelType != null  and travelType != ''"> and travel_type = #{travelType}</if>
            <if test="travelPrice != null "> and travel_price = #{travelPrice}</if>
        </where>
    </select>
    
    <select id="countRouteNumberByProductId" parameterType="Long" resultType="Long">
        select COUNT(*) from travel_product_route
        where productId = #{productId}
    </select>
    
    <select id="selectProductRouteById" parameterType="Long" resultMap="ProductRouteResult">
        <include refid="selectProductRouteVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductRoute" parameterType="ProductRoute" useGeneratedKeys="true" keyProperty="id">
        insert into travel_product_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="routeName != null">route_name,</if>
            <if test="price != null">price,</if>
            <if test="transportType != null">transport_type,</if>
            <if test="transportPrice != null">transport_price,</if>
            <if test="hotelType != null">hotel_type,</if>
            <if test="hotelPrice != null">hotel_price,</if>
            <if test="travelType != null">travel_type,</if>
            <if test="travelPrice != null">travel_price,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="routeName != null">#{routeName},</if>
            <if test="price != null">#{price},</if>
            <if test="transportType != null">#{transportType},</if>
            <if test="transportPrice != null">#{transportPrice},</if>
            <if test="hotelType != null">#{hotelType},</if>
            <if test="hotelPrice != null">#{hotelPrice},</if>
            <if test="travelType != null">#{travelType},</if>
            <if test="travelPrice != null">#{travelPrice},</if>
         </trim>
    </insert>

    <update id="updateProductRoute" parameterType="ProductRoute">
        update travel_product_route
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="routeName != null">route_name = #{routeName},</if>
            <if test="price != null">price = #{price},</if>
            <if test="transportType != null">transport_type = #{transportType},</if>
            <if test="transportPrice != null">transport_price = #{transportPrice},</if>
            <if test="hotelType != null">hotel_type = #{hotelType},</if>
            <if test="hotelPrice != null">hotel_price = #{hotelPrice},</if>
            <if test="travelType != null">travel_type = #{travelType},</if>
            <if test="travelPrice != null">travel_price = #{travelPrice},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductRouteById" parameterType="Long">
        delete from travel_product_route where id = #{id}
    </delete>

    <delete id="deleteProductRouteByIds" parameterType="String">
        delete from travel_product_route where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>